// Fuente prncipal
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$azul: #0da6f3;
$rojo: #cb0000;
$verde:#329f00;
$verdeOscuro: #2C5315;
$negro: #1a1b15;
$amarillo: rgb(243, 243, 24);

$blanco: #FFFFFF;
$gris: #e1e1e1;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900