@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta {
    padding: calc(v.$separacion / 4);
    color: v.$blanco;
    width: 100%;
    display: block;
    margin-bottom: 2rem;

    &.error {
        background-color: v.$rojo;
        border-radius: 15px;
        font-weight: v.$black;
    }

    &.exito {
        background-color: v.$verde;
        border-radius: 15px;
        font-weight: v.$black;
    }
}